*{
    margin: 0;
    padding: 0;
}
.bj{
    background-image: linear-gradient(#9999ff,#ccccff);
    color: #FFFFFF;
    
}
.cabecalho {
   background-image: linear-gradient(#9999ff,#ccccff);
    color: #FFFFFF;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.textos-equipe{
    padding-left: 30px;
}
.imagem-equipe{
    
    padding-left: 50px;
    width: 20%;
}
.parte-equipe{
    padding-top: 50px;
    display: flex;
    justify-content: center; 
    
}

.title-integrantes{
    text-align: center;
    
    
}
.integrantes{
    padding-top: 30px;

}
.Estudantes{
    display: grid;
    grid-template-columns: 50% 50% ;
    padding-left: 30px;
    justify-content: center; 
    

}
.integrantes-indivi{
    display: flex;
    padding-left: 20%;
    padding-top: 10%;
    padding-left: 30px;
    
}
.foto-indivi{
    width: 20%;
}
.Estudantes{
    padding-left: 40px;

}
